@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --card-width: 400px;
}

html, body, body > * {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
    border-radius: 30%;
}

a:hover {
    color: inherit;
    text-decoration: none;
    background-color: grey;
    box-shadow: 0px 0px 8px 8px grey;
    transition: .10s;
}

#layout {
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: minmax(150px, 1fr) 5fr;
    height: 100vh;
    width: 100vw;
}

#sidebar {
    background-color: #ffc9c9;
    grid-column: 1 / 2;
    grid-row: 1 / -1;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10px 40px;
    gap: 10px;
}

@media screen and (max-width: 900px) {
    #layout {
        grid-template-columns: 50px 1fr;
    }

    #sidebar {
        align-items: center;
        padding: 0;
    }

    .sidebar-head {
        padding-top: 10px;
    }

    .nav-title {
        display: none;
    }
}

.sidebar-head > svg {
    width: 30px;
    height: 30px;
    align-self: center;
}

svg {
    width: 20px;
    height: 20px;
}

.sidebar-head {
    font-size: 2em;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 5px
}

.link {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 22px;
}

#header {
    background-color: #f0fdf4;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
}

#main {
    background-color: rgb(217, 231, 247);
    display: grid;
    grid-template-columns: 8fr minmax(150px, 1fr);
    grid-template-rows: 40px 1fr 40px 1fr;
    gap: 10px;
    padding: 30px;
}

.title {
    overflow: hidden;
    align-self: center;
    font-size: 2em;
}

#title1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

#title2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

#title3 {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#subdisplay1 {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

#subdisplay2 {
    grid-row: -2 / -1;
    grid-column: 2 / 3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--card-width));
    justify-content: start;
    align-content: start;
    gap: 30px;
}

.card {
    background-color: white;
    height: 250px;
    width: var(--card-width);
    box-sizing: border-box;
    border-left: 10px solid #fef9c3;
    border-radius: 10px;
    display: grid;
    padding: 15px;
    grid-template-columns: 1fr 30px 30px 30px;
    grid-template-rows: 30px 1fr 20px;
    column-gap: 5px;
}

.card-title {
    grid-column: 1 / 5;
    grid-row: 1 / 2;
}

.card-content {
    grid-column: 1 / 5;
    grid-row: 2 / 3;
}

.card-button1 {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.card-button2 {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

.card-button3 {
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

.card-buttons {
    justify-self: center;
    border-radius: 15px;
}

.card-buttons:hover {
    background-color: grey;
    box-shadow: 0px 0px 8px 8px grey;
}

#header-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 100px;
    padding: 0 50px;
}

.header-toolbar-search {
    flex: 1 0 0;
    max-width: 700px;
    margin-right: 30px;
    padding-left: 8px;
    height: 1.5em;
    border-radius: 12px;
    border: 1px solid grey;
    background-color: lightgrey;
}

.header-toolbar-pic {
    transform: scale(1.5);
    fill: green;
}

.header-main-pic {
    transform: scale(2);
    fill: green;
}

.header-toolbar-search:focus {
    outline: none;
    box-shadow: 0 0 5px 2px grey;
}

.header-toolbar-icons {
    border: none;
    background-color: inherit;
}

.header-toolbar-icons:hover {
    cursor: pointer;
    background-color: grey;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 8px grey;
    transition: .10s;
}

#header-main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 50px;
}

.header-main-greeting {
    flex: 1 0 0;
}

.header-main-greeting-top {
    font-size: small;
}

.header-main-greeting-bottom {
    font-size: large;
}

.header-main-buttons {
    background-color: #ffc9c9;
    border: none;
    border-radius: 10px;
    padding: .75em 1em;
}

.header-main-buttons:hover {
    cursor: pointer;
}